<footer class="footer">
  <!-- Section: Social media -->
  <section class="social-media">
    <!-- Left -->
    <div class="social-media-left">
      <span>Muito obrigado por visitar o nosso site!</span>
    </div>
    <div>
  <img src="./img/SPedro.gif" class="pedrao" alt="">
    </div>
    <div class="social-media-right">
      <a href="#" class="social-icon">
        <img src="./img/logos/facebook.png" class="logos" />
      </a>
      <a href="#" class="social-icon">
        <img src="./img/logos/instagram.png" class="logos" />
      </a>
      <a href="#" class="social-icon">
        <img src="./img/logos/youtube.png" class="logos" />
      </a>
    </div>
  </section>
  <section class="links">
    <div class="container">
      <div class="row">
        <div class="column">
          <h5 class="title">
            <i class="fas fa-gem"></i>Paróquia São Pedro Apóstolo
          </h5>
          <hr>
          <p>
            A Paróquia São Pedro Apóstolo é um espaço de fé e acolhimento dedicado ao
            príncipe dos apóstolos, São Pedro. Localizada em um ambiente sereno
            e convidativo, nossa paróquia oferece uma rica programação de
            missas, sacramentos, e atividades comunitárias, com o objetivo de
            fortalecer a espiritualidade e a vida em comunidade dos fiéis.
          </p>
        </div>
        <div class="column">
          <h5 class="title">Nossos Serviços</h5>
          <hr>
          <!-- <p><a href="#" class="link">Nosso Site</a></p> -->
          <p><a href="#" class="link">Intenções para Santa Missa</a></p>
          <p><a href="#" class="link">Secretaria Paroquial</a></p>
          <p><a href="#" class="link">Comunidade do WhatsApp</a></p>
        </div>
        <div class="column">
          <!-- Links -->
          <h5 class="title">Links úteis</h5>
          <hr>
          <p><a href="#" class="link">Como funciona?</a></p>
          <p><a href="#" class="link">Sobre o desenvolvedor</a></p>
          <p><a href="#" class="link">Contate o Suporte</a></p>
          <!-- <p><a href="#" class="link">Help</a></p> -->
        </div>
        <div class="column">
          <h5 class="title">Contatos:</h5>
          <hr>
          <p>Avenida Antônio Louzada Antunes, n° 424</p>
          <p><a class="link" [href]="emailHref">spedroparoquia&#64;gmail.com</a></p>
          <p>+55 (11) 2297-2778</p>
        </div>
      </div>
    </div>
  </section>
  <div class="copyright">
    © 2024 Todos os direitos Reservados. Paróquia São Pedro Apóstolo
  </div>
</footer>
