

.footer {
    background-color: #f8f9fa;
    color: #6c757d;
    text-align: center;
    padding: 1rem 0;
    position: fixed;
    bottom: 0;
    left: 0;
}

.social-media {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    border-bottom: 1px solid #ddd;
}

.social-media-left {
    flex: 1;
    text-align: left;
    display: none;
}

.social-media-right {
    flex: 1;
    text-align: right;
}

.social-icon {
    margin: 0 0.5rem;
    color: #6c757d;
    text-decoration: none;
}

.links .container {
    padding: 2rem 0;
}

.row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.column {
    flex: 1;
    min-width: 200px;
    margin: 1rem;
    text-align: left;
}

.title {
    font-weight: bold;
    margin-bottom: 1rem;
}

.link {
    color: #6c757d;
    text-decoration: none;
    cursor: pointer;
    transition: color 0.1s
}

.link:hover {
    color:  rgb(235, 220, 134);;
    text-decoration: underline;
}
.link:active{
    color: #58d3d3;
}

.copyright {
    background-color: rgba(0, 0, 0, 0.05);
    padding: 1rem;
    margin-top: 1rem;
}

@media (min-width: 992px) {
    .social-media-left {
        display: block;
    }

    .social-media-right {
        text-align: center;
    }
}

.logos{
    border-radius: 50%;
    width:3vw;
    height: 6vh;
    margin: 0 30px;
    cursor: pointer;
    transition:  transform 0.2s;
}
.logos:hover {
    transform: translateY(-2px);
}

.logos:active {
    transform: translateY(0);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}


.pedrao {
    max-width: 100px;
    height: 10vh;
    margin: auto;
  }