<footer>
    <h4>Muito obrigado por visitar nosso site!</h4>
    <ul>
        <li>Venha conhecer nossa Paróquia
            <ul>
                <li><a href="">Youtuber</a></li>
                <li><a href="">Facebook</a></li>
                <li><a href="">Instagram</a></li>
            </ul>
        </li>
        <li><a href="">Dicas para uso</a></li>
        <li><a href="">Sobre o desenvolvedor</a></li>
    </ul>
    <p>Endereço: <em>Avenida Antônio Louzada Antunes, n° 424</em></p>
    <h4>©Todos os direitos reservados a Paróquia de São Pedro Apóstolo</h4>
</footer>