<footer>
  <h4>Muito obrigado por visitar nosso site!</h4>
  <div class="container">
    <div class="item1">
      <ul>
        <li>
          Venha conhecer nossa Paróquia:
          <ul>
            <li><a href=""><img src="./img/logos/youtube.png" alt=""> YouTube </a></li>
            <li><a href=""><img src="./img/logos/facebook.png" alt=""> Facebook </a></li>
            <li><a href=""><img src="./img/logos/instagram.png" alt=""> Instagram </a></li>
          </ul>
        </li>
        <li><a href="">Dicas para uso</a></li>
      </ul>
    </div>

    <div class="item2">
      <img class="pedrao" src="./img/SPedro.gif" alt="" />
    </div>
  </div>
  <h4>©Todos os direitos reservados a Paróquia de São Pedro Apóstolo</h4>
</footer>
