body {
    font-family: 'Maitree', serif;
  }
  
  .font-tittle {
    font-family: 'Libre Franklin',sans-serif;
    font-size: xx-large;
  }
  
  .font-subtittle {
    font-family: 'Open Sans', sans-serif;
    font-size: x-large;
  }
  